body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Fix for Google Places Autocomplete in Modals */
.pac-container {
  z-index: 10000 !important;
}